<h1>Dashboard</h1>
<ul>
	<li><%= link_to Page.all.count.to_s + ' Pages', pages_path %></li>
	<li><%= link_to Menu.all.count.to_s + ' Menus', menus_path %></li>
	<li><%= link_to News.all.count.to_s + ' News', news_index_path %></li>
</ul>