<h1>Dashboard</h1>
<ul>
	<li><%= link_to Page.all.count.to_s + ' Pages', admin_pages_path %></li>
	<li><%= link_to Menu.all.count.to_s + ' Menus', admin_menus_path %></li>
	<li><%= link_to News.all.count.to_s + ' News', admin_news_index_path %></li>
</ul>